BASE_URL=https://www.saucedemo.com
SAUCE_PASSWORD=secret_sauce
SAUCE_USERNAME=standard_user

SAUCE_STANDARD_USERNAME=standard_user
SAUCE_LOCKED_USERNAME=locked_out_user
SAUCE_PROBLEM_USERNAME=problem_user
SAUCE_PERFORMANCE_GLITCH_USERNAME=performance_glitch_user

SAUCE_ERROR_USERNAME=error_user
SAUCE_VISUAL_USERNAME=visual_user
SAUCE_INVALID_USERNAME=invalid_user
SAUCE_INVALID_PASSWORD=wrong_password
